node_modules

/.cache
/build
/app/tests
/app/scripts
client-error.tsx
Registercopy.tsx
jest.*
babel.*
/coverage

.env
public/default-profile-image.jpg
public/placeholder.png
public/NavBarLogo.png
public/searchIcon.svg
public/userIcon.png
public/favicon.ico