@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.underlined {
  text-decoration-line: underline;
}

.no-border{
  border: 0 ;
  box-shadow: none;
}

.no-border:focus{
  box-shadow: none;
  border-color: #ced4da;
  border-left: none;
}

.search-container {
  max-width: 500px;
}

.search-icon-container {
  background-color: white;
  border-right: none;
  padding-right:0;
}

.search-icon {
  border:0;
}

.search-input:focus {
  box-shadow: none;
  border-color: #ced4da;
  border-left: none;
}